version: '3.3'

networks:
  loki:

services:
    promtail:
        container_name: promtail-grafana-loki
        volumes:
            - './:/mnt/config'
            - '/var/log:/var/log'
            - '/var/www/html/pos/pos_api_node/logs:/var/log/pos'
        image: 'grafana/promtail:2.2.0'
        command: -config.file=/mnt/config/promtail-config.yml
        networks:
            - loki

    loki:
        volumes:
            - './:/mnt/config'
        ports:
            - '3150:3100'
        command: -config.file=/mnt/config/loki-config.yml
        networks:
            - loki
        image: 'grafana/loki:2.2.0'
        container_name: grafana-loki

